<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OpenMassSenderGUI.Properties.Settings.OpenMassSenderDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=H:\OpenMassMail\OpenMassSender\OpenMassSenderDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="OpenMassSenderGUI.Properties.Settings.OpenMassSenderDBConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=H:\OpenMassMail\OpenMassSender\OpenMassSenderCore\OpenMassSenderDB.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>